.banner {
    display: flex;
    align-items: center;
    justify-content: center;
}

/* .banner img {
    height: 60vh;
    width: 100%;
    border-radius: 5px;
    box-shadow: 9px 7px 5px rgba(50, 50, 50, 0.77);
    overflow: hidden;
} */